{% extends "base.html" %}

{% block content %}

<div class="row mt-5">
	<h1>Development tenis league</h1>
</div>
<!--<div class="row mt-5">-->
<!--    <p>Hi all, this is a test website to a local tennis league style tournament in Aberdeen. </p>-->
<!--</div>-->
<!--<div class="row">-->
<!--    <ul>-->
<!--    	<li>The site is under construction 🏗️</li>-->
<!--    	<li>Inaugural season will start in mid October 🎾</li>-->
<!--    	<li>Pls help me with the CSS 😢🤓</li>-->
<!--    </ul>-->
<!--</div>-->

<div class="row"><h2>Hi all, 👋</h2></div>

<div class="row mt-3"><p>There are only a few tennis tournaments held in Aberdeenshire (only one will be held until new year)</p></div>
<div class="row"><p>I want to organise a league where competitive players can participate in quality matches until the next summer league starts.</p></div>
<div class="row"><p>The format will be similar to the local tennis league, with one big group round and the player with the most points wins the league. Matches are best of 3 sets. At the beginning of the season the players will get the contact numbers of their group, and they have to self organise the matches over the period of the round. For further info please check out the rules tab.
</p></div>
<div class="row"><p>To enter the competition you have to register in advance. After you fill out your personal details (Name, e-mal, phone) your registration will be active. The first round will start on 17th of October and run until 21th of November.	🎾</p></div>

<div class="row"><p>This tournament is free of charge, however if you want to support the league you can buy me a coffee <a href="https://www.buymeacoffee.com/danidobos"> ☕</a> at ( <a href="https://www.buymeacoffee.com/danidobos"> buymeacoffee.com</a>). </p></div>

<div class="row"><p>The site is still under construction, but will be improved when the round starts. 🏗️</p></div>
<div class="row"><p>Fur further questions feel free to contact me:</p></div>

<div class="row my-4">
	<ul>
		<li>Phone: +447523853695</li>
		<li>e-mail: dobos.andras95@gmail.com</li>
	</ul>
</div>

<div class="row"><p>Cheers,<br>  Dan</p></div>

{% endblock content %}
