{% extends "base.html" %}

{% block content %}
<div class="row mt-5">
	<h1>Your player profile</h1>
</div>
<div class="row">
    <ul>
        <li>Username: {{ user }}</li>
        <li>Firstname: {{ user.first_name }}</li>
        <li>Lastname: {{ user.last_name }}</li>
        <li>e-mail: {{ user.email }}</li>
        <li>Phone Number: {{playerdata.phone_number}}</li>
    </ul>
</div>
<div class="row mt-5">
	<h2>Match statistcs</h2>
</div>
<div class="row">
    <ul>
        <li>Wins: {{playerdata.win_count}}</li>
        <li>Loses: {{playerdata.lose_count}}</li>
    </ul>
</div>
<div class="row">
    <a class="btn btn-primary btn-lg active mr-3 my-2" href="{% url 'edit_profile' %}">Edit profile</a>
    <a class="btn btn-primary btn-lg active my-2" href="{% url 'edit_phonenumber' %}">Edit phonenumber</a>
</div>

{% endblock content %}